@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Poppins", sans-serif;
}

.header {
  background: linear-gradient(150deg, rgba(96, 160, 216, 0.7), rgba(178, 210, 52, 0.7)), url("../images/header-back.png");
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
@media (max-width: 375px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
}
.header .header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  height: 72px;
}
@media (max-width: 375px) {
  .header .header-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: auto;
  }
}
.header .header-menu .logo {
  width: 200px;
  padding-top: 24px;
}
@media (max-width: 375px) {
  .header .header-menu .logo {
    padding-bottom: 24px;
  }
}
.header .header-menu .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media (max-width: 375px) {
  .header .header-menu .nav-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.header .header-menu .nav-right a {
  color: #FFFFFF;
  font-size: 18px;
  text-decoration: none;
}
.header .header-menu .nav-right .underline {
  margin-top: 10px;
  text-decoration: underline;
}
.header .header-menu .nav-right button {
  background-color: #FFFFFF;
  color: #B2D234;
  font-size: 15px;
  font-weight: semi-bold;
  height: 40px;
  width: 160px;
  border: none;
  border-radius: 12px;
}
.header .header-tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .header-tagline .title {
  font-size: 126px;
  font-weight: bold;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .header .header-tagline .title {
    font-size: 40px;
  }
}
.header .header-tagline .slogan {
  font-size: 52px;
  color: #FFFFFF;
  transform: rotate(-9deg);
  padding-left: 240px;
}
@media (max-width: 375px) {
  .header .header-tagline .slogan {
    font-size: 20px;
    padding-left: 0;
  }
}
.header .header-social-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
  padding: 50px;
}

.welcome {
  background-image: url("../images/61842.png");
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 148px;
}
@media (max-width: 375px) {
  .welcome {
    padding-left: 20px;
  }
}
.welcome .welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
@media (max-width: 375px) {
  .welcome .welcome-text {
    gap: 20px;
  }
}
.welcome h2 {
  font-size: 52px;
  color: #B2D234;
}
@media (max-width: 375px) {
  .welcome h2 {
    font-size: 24px;
  }
}
.welcome p {
  font-size: 18px;
  color: #606060;
}
@media (max-width: 375px) {
  .welcome p {
    font-size: 15px;
  }
}
.welcome button {
  background-color: #B2D234;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: semi-bold;
  height: 62px;
  width: 256px;
  border: none;
  border-radius: 12px;
}
@media (max-width: 375px) {
  .welcome button {
    width: 100%;
    margin-bottom: 10px;
    background-color: #B2D234;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: semi-bold;
    height: 62px;
    width: 90%;
    border: none;
    border-radius: 12px;
  }
}
@media (max-width: 375px) {
  .welcome img {
    display: none;
  }
}

.accroche {
  background-image: url("../images/ismael-trevino-NDyuR4Huig8-unsplash.png");
  background-size: cover;
  height: 809px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 154px;
}
@media (max-width: 375px) {
  .accroche {
    height: 100%;
    padding-right: 0;
  }
}
.accroche .accroche-preparation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: rgba(178, 210, 52, 0.85);
  padding: 37px 68px 48px;
  width: 632px;
}
@media (max-width: 375px) {
  .accroche .accroche-preparation {
    width: 100%;
    padding: 20px;
  }
}
.accroche .accroche-preparation h2 {
  font-size: 52px;
  color: #FFFFFF;
  text-align: center;
}
@media (max-width: 375px) {
  .accroche .accroche-preparation h2 {
    font-size: 24px;
  }
}
.accroche .accroche-preparation p {
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
}
@media (max-width: 375px) {
  .accroche .accroche-preparation p {
    font-size: 15px;
  }
}
.accroche .accroche-preparation button {
  background-color: #FFFFFF;
  color: #B2D234;
  font-size: 24px;
  font-weight: semi-bold;
  height: 62px;
  width: 256px;
  border: none;
  border-radius: 12px;
}
@media (max-width: 375px) {
  .accroche .accroche-preparation button {
    width: 100%;
  }
}

.menu {
  background-image: url("../images/pattern.png");
  padding-bottom: 80px;
}
@media (max-width: 375px) {
  .menu {
    padding-bottom: 0;
  }
}
.menu .menu-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 71px;
  text-align: center;
}
@media (max-width: 375px) {
  .menu .menu-heading {
    padding-top: 20px;
  }
}
.menu .menu-heading .menu-title {
  color: #B2D234;
  font-size: 52px;
  padding-bottom: 32px;
}
@media (max-width: 375px) {
  .menu .menu-heading .menu-title {
    font-size: 24px;
  }
}
.menu .menu-heading .menu-text {
  font-size: 18px;
}
@media (max-width: 375px) {
  .menu .menu-heading .menu-text {
    font-size: 15px;
  }
}
.menu .menu-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 180px;
  padding-top: 87px;
  padding-bottom: 81px;
}
@media (max-width: 375px) {
  .menu .menu-sections {
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.menu-left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-left-section .menu-groupe {
  padding: 12px;
  width: 502px;
}
@media (max-width: 375px) {
  .menu-left-section .menu-groupe {
    width: 100%;
  }
}
.menu-left-section .menu-groupe .groupe-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #B2D234;
  font-size: 24px;
}
@media (max-width: 375px) {
  .menu-left-section .menu-groupe .groupe-title {
    font-size: 18px;
  }
}
.menu-left-section .menu-groupe .groupe-text {
  font-size: 18px;
}
@media (max-width: 375px) {
  .menu-left-section .menu-groupe .groupe-text {
    font-size: 15px;
  }
}
.menu-left-section .etiquette {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-left-section .etiquette-meilleure-vente {
  display: block;
  width: 124px;
  height: 24px;
  padding-top: 4px;
  background-color: #B2D234;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
}
@media (max-width: 375px) {
  .menu-left-section .etiquette-meilleure-vente {
    width: 100px;
    height: 20px;
    padding-top: 2px;
    font-size: 10px;
  }
}
.menu-left-section .meilleure-vente {
  border: 1px solid #B2D234;
}
@media (max-width: 375px) {
  .menu-left-section .meilleure-vente {
    width: 100%;
  }
}

.menu-right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
@media (max-width: 375px) {
  .menu-right-section {
    gap: 20px;
  }
}
.menu-right-section .right-section-title {
  font-size: 64px;
  transform: rotate(-9deg);
}
@media (max-width: 375px) {
  .menu-right-section .right-section-title {
    font-size: 24px;
  }
}
.menu-right-section .right-section-text {
  font-size: 18px;
  text-align: center;
}
@media (max-width: 375px) {
  .menu-right-section .right-section-text {
    font-size: 15px;
  }
}
.menu-right-section .title-green {
  color: #B2D234;
}
.menu-right-section .title-blue {
  color: #60A0D8;
}
.menu-right-section button {
  background-color: #B2D234;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: semi-bold;
  height: 62px;
  width: 358px;
  border: none;
  border-radius: 12px;
}

.preparations {
  background-image: url("../images/louis-hansel-MlPD-AzZYMg-unsplash.png");
  background-size: cover;
  height: 698px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media (max-width: 375px) {
  .preparations {
    flex-direction: column;
    height: 100%;
    padding: 20px;
  }
}
.preparations .preparations-vertes {
  background-color: rgba(178, 210, 52, 0.85);
  width: 632px;
  height: 410px;
}
@media (max-width: 375px) {
  .preparations .preparations-vertes {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
  }
}
.preparations .preparations-bleues {
  background-color: rgba(96, 160, 216, 0.85);
  width: 632px;
  height: 410px;
}
@media (max-width: 375px) {
  .preparations .preparations-bleues {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
  }
}
.preparations .preparations-title {
  font-size: 52px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 40px;
}
@media (max-width: 375px) {
  .preparations .preparations-title {
    font-size: 24px;
  }
}
.preparations .preparations-liste {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  list-style: none;
  text-align: center;
  color: #FFFFFF;
}

.form {
  background-image: url("../images/61842.png");
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 40px;
}
@media (max-width: 375px) {
  .form {
    padding: 20px;
    display: block;
  }
}
.form img {
  padding-top: 100px;
}
@media (max-width: 375px) {
  .form img {
    display: none;
  }
}
.form button {
  background-color: #B2D234;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: semi-bold;
  height: 62px;
  width: 256px;
  border: none;
  border-radius: 12px;
}
@media (max-width: 375px) {
  .form button {
    width: 100%;
  }
}

.form-right {
  padding-bottom: 80px;
}
@media (max-width: 375px) {
  .form-right {
    padding-bottom: 0;
  }
}
.form-right .headin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 28px;
}
@media (max-width: 375px) {
  .form-right .headin-form {
    padding-bottom: 20px;
  }
}
.form-right .headin-form .headin-title {
  color: #B2D234;
  font-size: 52px;
  padding-bottom: 18px;
}
@media (max-width: 375px) {
  .form-right .headin-form .headin-title {
    font-size: 24px;
  }
}
.form-right form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
@media (max-width: 375px) {
  .form-right form {
    gap: 20px;
  }
}

.form-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.form-top .label-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 375px) {
  .form-top .label-input {
    width: 100%;
  }
}
.form-top .label-input label {
  color: #B2D234;
  font-size: 24px;
  font-style: italic;
}
@media (max-width: 375px) {
  .form-top .label-input label {
    font-size: 15px;
  }
}
.form-top .label-input input {
  width: 300px;
  border: 1px solid #606060;
}
@media (max-width: 375px) {
  .form-top .label-input input {
    width: 100%;
  }
}

.label-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 375px) {
  .label-input {
    width: 100%;
  }
}
.label-input label {
  color: #B2D234;
  font-size: 24px;
  font-style: italic;
}
@media (max-width: 375px) {
  .label-input label {
    font-size: 15px;
  }
}
.label-input input {
  width: 616px;
  border: 1px solid #606060;
}
@media (max-width: 375px) {
  .label-input input {
    width: 100%;
  }
}
.label-input textarea {
  width: 616px;
  height: 200px;
  resize: none;
}
@media (max-width: 375px) {
  .label-input textarea {
    width: 100%;
  }
}

footer {
  height: 290px;
  background-color: #B2D234;
  padding-left: 39.5px;
  padding-right: 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 375px) {
  footer {
    flex-direction: column;
    gap: 20px;
    align-items: self-start;
    height: 100%;
    padding: 20px;
  }
}
footer h3 {
  font-size: 27px;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  footer h3 {
    font-size: 24px;
  }
}
footer p {
  font-size: 18px;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  footer p {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
