@use '../base/_typography' as *;
@use '../abstracts/_variables' as *;
@use '../abstracts/_mixins' as *;
@use '../components/_button' as *;

.accroche {
    background-image: url("../images/ismael-trevino-NDyuR4Huig8-unsplash.png");
    background-size: cover;
    height: 809px;
    @include display-flex($justify: flex-end, $align: center);
    padding-right: 154px;

    @include mobile {
        height: 100%;
        padding-right: 0;
    }

    .accroche-preparation {
        @include display-flex-column;
        gap: 40px;
        background-color: rgba(178, 210, 52, 85%);
        padding: 37px 68px 48px;
        width: 632px;
        
        @include mobile {
            width: 100%;
            padding: 20px;
        }

        h2 {
            font-size: $font-title-size;
            color: $color-white;
            text-align: center;

            @include mobile {
                font-size: 24px;
            }
        }
    
        p {
            font-size: $font-body-size;
            color: $color-white;
            text-align: center;

            @include mobile {
                font-size: 15px;
            }
        }

        button {
            @include button($background-color: $color-white, $color: $color-light-green);
            @include mobile {
                width: 100%;
            }
        }
    }
}