@use '../abstracts/_variables' as *;

@mixin button($background-color: $color-light-green, $color: $color-white, $width: 256px, $height:62px, $font-size: 24px) {
    background-color: $background-color;
    color: $color;
    font-size: $font-size;
    font-weight: semi-bold;
    height: $height;
    width: $width;
    border: none;
    border-radius: 12px;
}