@use '../abstracts/_variables' as *;

@mixin display-flex($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin display-flex-column($justify: center, $align: center) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

@mixin display-grid($grid-template-column: 1fr 1fr, $grid-template-row: 1fr) {
    display: grid;
    grid-template-columns: $grid-template-column;
    grid-template-rows: $grid-template-row;
}

@mixin mobile {
    @media (max-width: 375px) {
        @content;
    }
}